<html>
  <style>
h1 { font-size: 32px;
color: blue;
text-align: left;}

p { font-size: 14px;
text-align: left;}

input[type=text] {
  width: 100%;
  padding: 12px 18px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: blue;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
  </style>


<body>
<h1>What's ranking of athlete do you want? (ex. 4 gives you 4th place) </h1>

<form action="{{url_for('medals')}}">
  <input type="checkbox" id="1" name="1" >
  <label for="1"> Ranking 1</label><br>
  <input type="checkbox" id="2" name="2" >
  <label for="2"> Ranking 2</label><br>
  <input type="checkbox" id="3" name="3">
  <label for="3"> Ranking 3</label><br><br>
  <input type="submit" value="Submit">
</form>


Athlete and ranking:
{% for ath in data %}
<br>
<p>
    {{ath.name}}    {{ath.rank}}
</p>
{% endfor %}

{% for ath in athletes %}
<p>
   Athlete: {{ath[0]}}
    Number of medals: {{ath[1]}}
</p>
{% endfor %}

<p style="font-size: 12pt;">
<a href="{{ url_for('index') }}"> Home</a>


</p>



</body>


</html>
